/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0061FF;
}

/* Generics */

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 75px;
    font-weight: 800;
    padding: 50px 0;
}

h2 {
    font-size: 40px;
    padding-bottom: 50px;
}

h3 {
    font-size: 25px;
}

img {
    display: block;
    max-width: 100%;
}

/* square background colors */

.bg-lt-green {
    background-color: #A2D39B;
}

.bg-dk-red {
    background-color: #61082B;
}

.bg-sky-blue {
    background-color: #0093CE;
}

.bg-lt-red {
    background-color: #FF1C1C;
}

.bg-red {
    background-color: #D5001F;
}

.bg-dk-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

.bg-grey {
    background-color: #F5F5F5;
}

/* layout */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.row.cols-grow>* {
    flex-grow: 1;
}

.col-60 {
    flex-basis: 60%;
}

.col-50 {
    flex-basis: 50%;
}

.col-30 {
    flex-basis: 30%;
}



/* tools */

.border1 {
    border: 2px dashed black;
}

.border2 {
    border: 2px dashed rgb(255, 0, 0);
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sm-container {
    max-width: 1000px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

/* Spacing */

.mg-btm-30 {
    margin-bottom: 30px;
}

/* Buttons */

.btn {
    padding: 10px 15px;
    display: inline-block;
}

.btn.btn-small {
    padding: 5px 10px;
}

.btn.btn-big {
    padding: 10px 50px;
}

.btn.btn-primary {
    color: white;
    background-color: var(--primary-color);
}

.btn.btn-secondary {
    border: 1px solid black;
    background-color: white;
}


/* .sm-pad {
    padding: 10px 0;
} */

.bg-blue {
    background-color: #0061FF;
}

.bg-ltblue {
    background-color: #B4D0E7;
}


/* header */

#navbar {
    background-color: white;
    box-shadow: 0 0 2px #dedede;
    height: 80px;
    padding: 0 15px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* navbar */


.nav-bar>* {
    justify-content: center;
    align-items: center;
}

/* main */

/* jumbotron */

#jumbotron {
    height: 700px;
    margin-bottom: 150px;
}

.jumbo-text {
    flex-basis: 30%;
}

.jumbo-img {
    flex-basis: 70%;
}

#jumboimg {
    float: right;
    max-height: 350px;
}

/* business */

.payment-options {
    gap: 20px;
    line-height: 15px;
    text-align: center;
}

.first-pay-circle {
    height: 15px;
    width: 15px;
    border: 3px solid #0061FF;
    margin: 0 5px;
    border-radius: 50px;
}

.second-pay-circle {
    height: 15px;
    width: 15px;
    border: 2px solid grey;
    margin: 0 5px;
    border-radius: 50px;
}

/* Business plan */

.business-plan {
    margin-top: 50px;
}

.row.cols-3 {
    gap: 50px;
}

.row.cols-3>.col {
    flex-basis: calc(100% / 3 - 100px / 3 - 2px);
    border: 1px solid lightgrey;
}

.plan-type {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid lightgrey;
}

.col * {
    padding: 15px 0;
}

.plan-card {
    padding: 0 30px;
}

.fa-ul li {
    margin-left: -15px;
    text-align: left;
}

.fa-li {
    display: inline-block;
}

.sm-br {
    border: 1px solid lightgrey;
    width: calc(100% / 5);
    padding: 0;
}

.plan-card-left {
    flex-basis: 70%;
}

.plan-card-right {
    flex-grow: 1
}

/* partner */

#partner {
    padding-top: 80px;
    margin-bottom: 50px;
}

.row.partner-row {
    gap: 50px;
}

#partner-img {
    translate: 0 -50px;
}

.col-30 * {
    margin-bottom: 20px;
}

/* Operation section */

#operation .col {
    border-color: transparent;
}

/* Find more section */

.find-more-content {
    max-width: 60%;
}

.find-more-content a {
    text-decoration: underline;
    color: blue;
}

/* partnership section*/

#partnership .col {
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    display: flex;
    /* border: none; */
}

#partnership .ltl-square {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    padding: 0px;
}

#partnership .row.cols-3 {
    gap: 0px;
}

.ltl-square {
    position: relative;
}


.ltl-square img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 50%;
    filter: invert(100%);
}

/* Promotion section */


#promotion .sm-container {
    height: 350px;
    align-items: center;
}

#promotion h2 {
    padding: 0;
    color: #61082B;
}

#promotion a {
    border: none;
}

.row.promotion-row {
    justify-content: space-between;
}