/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

button {
    height: 25px;
    padding: 5px 10px;
    text-align: center;
    line-height: 15px;
    border: 0px;
}


/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.bg-blue {
    background-color: #0061FF;
}

.white {
    color: white;
}



/* header */

/* navbar */
.nav-bar {
    justify-content: space-between;
    height: 60px;
    /* padding: 0 10px; */
}

.nav-bar>* {
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.nav-sections {
    margin: 0 30px;
    gap: 25px;
}